.env
tailscale/state/
/config/data
/config/log
/config/metadata
/config/plugins
/config/root
/config/.jellyfin-data
/jellyseerr/config
/prowlarr/config
/qbittorrent/config/qBittorrent
/radarr/config
/sonarr/config
/config/temp
/tailscale-jellyseerr/state
/aurral/data
/lidarr/config
/slskd/config/data
/tailscale-navidrome/state
/tailscale-aurral/state
/config/config
/sldl/bin
/navidrome/config
/soularr/config.ini
